<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496356469775-hjgerkpkfvj7clo2b1pgh678ief0fv0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496356469775-hjgerkpkfvj7clo2b1pgh678ief0fv0i</string>
	<key>API_KEY</key>
	<string>AIzaSyAaur4-f0fuX02psDaNxJdN9ouqtI-mBgc</string>
	<key>GCM_SENDER_ID</key>
	<string>496356469775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TungLe.CloneFacebook</string>
	<key>PROJECT_ID</key>
	<string>facebook-4b4db</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-4b4db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496356469775:ios:6ec1754be95e421c59477a</string>
</dict>
</plist>